@model KhoaHocOnline.Models.EF.CoursePart
@{
    ViewBag.Title = "Add new course part";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/coursepart" class="nav-link">List</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/coursepart/add" class="nav-link">Add</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add new course part</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/coursepart">List</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add new course part</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "CoursePart", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="InputCourseID">Course ID</label>
                            @Html.TextBoxFor(x => x.CourseID, new { @class = "form-control", @placeholder = "Course ID" })
                            @Html.ValidationMessageFor(x => x.CourseID, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="InputPartTitle">Part Title</label>
                            @Html.TextAreaFor(x => x.PartTitle, new { @class = "form-control", @placeholder = "Part Title"})
                            @Html.ValidationMessageFor(x => x.PartTitle, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="InputAmount">Amount</label>
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @placeholder = "Amount" })
                            @Html.ValidationMessageFor(x => x.Amount, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="InputDuration">Duration</label>
                            @Html.TextBoxFor(x => x.Duration, new { @class = "form-control", @placeholder = "Duration" })
                            @Html.ValidationMessageFor(x => x.Duration, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="InputIndex">Index</label>
                            @Html.TextBoxFor(x => x.Index, new { @class = "form-control", @placeholder = "Index" })
                            @Html.ValidationMessageFor(x => x.Index, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="InputActive">Is Active</label>
                            @Html.CheckBoxFor(x => x.IsActive)
                        </div>
                        <div class="form-group">
                            <a href="/admin/course" class="btn btn-danger">Previous</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                }
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->