@model KhoaHocOnline.Models.EF.Account
@{
    ViewBag.Title = "Add new account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account" class="nav-link">List</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account/add" class="nav-link">Add</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add new account</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/account">List</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add new account</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "Account", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email address" })
                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="InputAvatar">Avatar</label>
                        <div class="input-group">
                            <div class="custom-file">
                                @Html.TextBoxFor(x=> x.Avatar, new {@id="txtImage",@class="form-control"})
                            </div>
                            <div class="input-group-append">
                                <input type="button" value="Upload" onclick="BrowseServer('txtImage');"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="InputStatus">Status</label>
                        @Html.TextBoxFor(x => x.Status, new { @class = "form-control", @placeholder = "Status" })
                        @Html.ValidationMessageFor(x => x.Status, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="InputDecentralizationID">Decentralization ID</label>
                        @Html.TextBoxFor(x => x.DecentralizationID, new { @class = "form-control", @placeholder = "Decentralization ID" })
                        @Html.ValidationMessageFor(x => x.DecentralizationID, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <a href="/admin/account" class="btn btn-danger">Previous</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                }
            </div>  
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selecetActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
    }