@model PagedList.PagedList<KhoaHocOnline.Models.EF.Enrollment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "enrollment Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/enrollment" class="nav-link">List</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Enrollments manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Enrollments list</h3>

            <div class="card-tools">
                <a href="/admin/enrollment/add" class="btn btn-primary">Add</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    @using (Html.BeginForm("Index", "Enrollment", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            @Html.TextBox("searchText", "Input content", new { @class = "form-control" })
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">Search</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Enrollment ID</th>
                        <th>Student ID</th>
                        <th>Course ID</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = (ViewBag.Page - 1) * ViewBag.PageSize + 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.EnrollmentID">
                                <td><input type="checkbox" class="cbkItem" value="@item.EnrollmentID" /></td>
                                <td>@i</td>
                                <td>@item.EnrollmentID</td>
                                <td>@item.StudentID</td>
                                <td>@item.CourseID</td>
                                <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td>@item.UpdatedAt.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="/admin/enrollment/edit/@item.EnrollmentID" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="#" data-id="@item.EnrollmentID" class="btn btn-sm btn-danger btnDelete">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Don't exists any records.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        @*<div class="card-footer">
                Footer
            </div>*@
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {

            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var i = 0;
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm("Do you want to delete there records?");
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/enrollment/deleteAll',
                            type: 'POST',
                            data: { enrollmentIDs: str },
                            success: function (rs) {

                            }
                        });
                    }
                }
            });

            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm("Do you want to delete this enrollment?");
                if (conf === true) {
                    $.ajax({
                        url: '/admin/enrollment/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}